#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#game-container {
  position: absolute;
  width:fit-content;
  height: fit-content;
}

.read-the-docs {
  color: #888;
}
